
# Ignore large csv/excel files > 50MB
分析工具/11_rule_crosstab_analysis/input/lending_club_loan_two.csv
分析工具/12_decision_tree_rule_mining/input/lending_club_loan_two.csv
分析工具/13_lending_club_tree_rule_mining/input/lending_club_loan_two.csv

# 专题研修超大文件（>40MB 数据文件，不入库）
专题研修/04-报表分析与资产质量监控/01-Vintage报表：Python实操/repay_plan_sample.csv
专题研修/04-报表分析与资产质量监控/01-Vintage报表：Python实操/repay_actual_sample.csv
专题研修/04-报表分析与资产质量监控/02-迁徙率报表：Python实操/repay_plan_sample.csv
专题研修/04-报表分析与资产质量监控/02-迁徙率报表：Python实操/repay_actual_sample.csv
专题研修/07-机器学习模型篇/8-Oputuna+LGBM模型调参(2)：Python实操/数据代码/feature_data.xls
专题研修/02-策略开发与规则体系/04-规则生成：交叉表分析/lending_club_sample.csv
专题研修/02-策略开发与规则体系/05-决策树规则(1)：节点可视化与解读/lending_club_sample.csv
专题研修/02-策略开发与规则体系/05-决策树规则(2)：自动化规则挖掘/lending_club_sample.csv
专题研修/06-评分卡模型篇/17-评分卡模型拒绝推断/reject_data.csv.drivedownload
